/* Style par défaut */
#button-container {
  display: flex;
  justify-content: space-around; /* Aligne les boutons horizontalement */
}



/* Styles pour les écrans de taille téléphone */
@media (max-width: 600px) {
  #button-container {
      display: flex;
      flex-direction: column; /* Change l'alignement des boutons en colonne */
      align-items: center;
      background-color: aqua; /* Centre les boutons horizontalement */
  }

  button {
      width: 80%; /* Ajuste la largeur des boutons pour occuper une bonne partie de l'écran */
      margin: 10px 0; /* Espace entre les boutons */
  }
}

#main-title {
  text-align: center;
  font-size: 3em;
  font-family: 'Chakra Petch';
  background: linear-gradient(to right, rgb(111, 0, 255), rgb(119, 0, 255)); /* Dégradé de rouge à bleu */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Rend le texte transparent pour voir le dégradé */
}


button {
  position: relative;
  width: 20%;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  cursor: pointer;
  background: rgb(111, 0, 255);
  overflow: hidden;
}

button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(119, 0, 255), white);
  opacity: 0;
  transition: opacity 1s ease;
  z-index: 1;
}

.button-text {
  position: relative;
  color: white;
  z-index: 2;
}

button:hover:before {
  opacity: 1;
}