body {
    display: flex;
    justify-content: space-between;
}

#participants, #channel, #base-de-sons {
    flex: 1;
    margin: 10px;
    border: 1px solid black; /* Pour visualiser les conteneurs */
    height: 100vh; /* Pour que les conteneurs prennent toute la hauteur de la page */
    overflow: auto; /* Pour permettre le défilement si le contenu dépasse la hauteur du conteneur */
}

#participants {
    /* Styles supplémentaires pour la section participants ici */
}

#channel {
    /* Styles supplémentaires pour la section channel ici */
}

#base-de-sons {
    /* Styles supplémentaires pour la section base-de-sons ici */
}