#main-title{
    text-align: center;
    font-size: 3em;
    font-family: 'Chakra Petch';
    background: linear-gradient(to right, rgb(164, 95, 255), rgb(119, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#clients_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Chakra Petch';
    font-weight : bold;
    font-size : 1.5em;
}

#clients_list :hover {
    color: #ff0000; /* Change la couleur du texte en rouge lorsque la souris passe dessus */
}